body{
    font-family: 'Times New Roman', Times, serif;
}
td{
    border: 1px solid hotpink;
    padding: 5px;
}
th{
    border: 1px solid hotpink;
    padding: 5px;
    text-align: left;
}